@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Regular.ttf");
}

body {
	background: #000;
	margin: 0;
  padding: 0;
  font-family: "Poppins", Sans-Serif;
  color: #ffffff;
}

.loading-overlay {
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
  background: #000;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}
@keyframes transition {
  0% {
    filter: brightness(1);
    background: #000;
    opacity: 1;
  }
  50% {
    filter: brightness(2);
    background: #fff;
    opacity: 1;
  }
  100% {
    background: #fff;
    opacity: 0;
    display: none;
  }
}

.loading-overlay > span {
  font-size: 1rem;
  color: #ffffff;
}

canvas {
	cursor: crosshair;
	display: block;
	width: 100%;
	height: 100vh;
	z-index: 1;
	position: fixed;
	top: 0; left: 0;
	user-select: none;
}

#video {
  width: clamp(200px, 100%, 400px);
  height: auto;
  z-index: -1;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transform: scale(1.2) translateY(25%);
}

.content {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  padding-block: 1.5em;
}

.content .teks-ucapan {
  font-size: 2.4rem;
  padding-top: 1em;
  text-align: center;
  z-index: 2;
}
.content .teks-ucapan > span {
  font-size: calc(2.4rem + 3px);
  color: #8252ff;
  -webkit-text-stroke: 1px  #fafafa;
  -moz-text-stroke: 1px #fafafa;
  -ms-text-stroke: 1px #fafafa;
  -o-text-stroke: 1px #fafafa;
  text-stroke: 1px #fafafa;
  -webkit-text-shadow: 0 0 20px #956ffa, 0 0 15px #fafafa;
  -moz-text-shadow: 0 0 20px #956ffa, 0 0 15px #fafafa;
  -ms-text-shadow: 0 0 20px #956ffa, 0 0 15px #fafafa;
  -o-text-shadow: 0 0 20px #956ffa, 0 0 15px #fafafa;
  text-shadow: 0 0 20px #956ffa, 0 0 15px #fafafa;
}

.action {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-block: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 5;
}
.action span {
  font-size: .8rem;
  padding-block: .5em;
}
.action .share-btn {
  background: #fff;
  border: none;
  outline: none;
  border-radius: 100px;
  font-size: 1rem;
  padding: .5em 1.1em;
  color: #000;
  text-decoration: underline;
}